<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jhbra.android_project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Content provider -->
        <provider
            android:name=".DBProvider"
            android:authorities="moapp1.gps.calendar"
            android:enabled="true"
            android:exported="true" />

        <!-- exported is true for debugging -->
        <activity
            android:name=".ScheduleEditAct"
            android:label="@string/title_activity_schedule_edit"
            android:theme="@style/AppTheme"
            android:exported="true"></activity>
    </application>

</manifest>